.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    padding: 50px;
    box-sizing: border-box;
}
body {
    background-color: #000;
}

.circButton {
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
    font-size: 16px;
}
.rectButton {
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
    font-size: 16px;
}

.mainCanvas {
    grid-column: 1 / -1;
    grid-row: 2;
    background-color: #555555;
    width: 100%;
    height: 100%;
}
