.mainCanvas {
    flex: 1;
    background-color: #555555;
    height: 90vh;
    width: 90vw;
}

.circButton {
    flex: 2;
}

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #333;
}

body {
    background-color: #000;
}
