.mainCanvas {
    flex: 2;
    background-color: #555555;
}

.circButton {
    flex: 1;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    padding: 50px;
}

body {
    background-color: #000;
}
